.parent {
  height: 70vh;
  width: 100%;
  margin-top: 10vh;
}
.user-info {
  min-height: 50vh;
  margin: auto;
  width: 60vw;
  -webkit-box-shadow: 10px 10px 48px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 48px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 48px 0px rgba(0, 0, 0, 0.336);
  padding: 20px;
}
